# Linear Regression

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

#### Generate Data with Web Scraping

##### Tes the url, forbiden or not

In [2]:
web = requests.get ("https://www.globalfirepower.com/countries-listing.php")
web #Jika 400 an maka ditolak, 200 diterima

##### Make Soup

In [3]:
Soup = BeautifulSoup (web.content, 'html.parser')
part = Soup.findAll ('div', "picTrans recordsetContainer boxShadow zoom")

##### Take Country and military power

In [4]:
negara = []
power = []

for item in part:

    nation = item.find ('span', "textWhite textLarge textShadow").text.strip().split("\n")
    n_a = ''.join (nation) #List to string

    military = item.find ('span', "textLarge textLtGray").text.strip().split("PwrIndx:")
    mil = float (''.join (military)) #List to float

    negara.append(n_a)
    power.append (10.0-mil)

##### Show the data as a table

In [5]:
Table = pd.DataFrame (zip (negara, power), columns=['Country', 'Military Power']) 
Table

            Country  Military Power
0     United States          9.9288
1            Russia          9.9286
2             China          9.9278
3             India          9.8975
4    United Kingdom          9.8565
..              ...             ...
140         Liberia          5.9994
141         Somalia          5.9804
142         Moldova          5.9139
143           Benin          5.8731
144          Bhutan          3.7983

[145 rows x 2 columns]